#root {
	--main-bg-color: #191d22;
	--main-fg-color: #29313a;
	--main-text-color: rgb(188, 209, 212);
	--main-border-color: #3b9e84;
	background: var(--main-bg-color);
}

.app-container {
	background-color: #191d22;
}

.NavBar {
	margin-top: 5px;
	margin-bottom: 5px;
	/* text-align: center; */
	min-height: 75px;
	border: 2px solid var(--main-border-color);
	background: var(--main-bg-color);
	border-radius: 10px;
}

h3, h2, h1, label {
	color: var(--main-text-color);
}

.tracked-wallet {
	text-align: center;
	border: 2px solid var(--main-border-color);
	background: var(--main-bg-color);
	border-radius: 10px;
	margin-right: 5px;
	min-height: 805px;
	/* flex-grow: 3; */
}

.wallets-list-container{
	background: var(--main-fg-color);
}

.list-group-item{
	background: #57687ca1;
	color: var(--main-text-color)
}

.alerts-panel {
	margin-bottom: 5px;
	text-align: center;
	min-height: 400px;
	border: 2px solid var(--main-border-color);
	border-radius: 10px;
	background: var(--main-bg-color);
}

.price-panel {
	margin-bottom:5px;
	text-align: center;
	min-height: 400px;
	border: 2px solid var(--main-border-color);
	border-radius: 10px;
	background: var(--main-bg-color);
}