.wallets-list-container {
	/* background-color: white; */
	border: 2px solid Black;
	min-height: 70vh;
	padding: 0px;
	border-radius: 4px;
}

.add-delete-wallet {
	padding: 20px;
}

.add-wallet {
	color: #34daad;
}

.tracked-header {
	padding-top: 10px;
}